.toolbar {
    --background: transparent;
    // --background: linear-gradient(90deg, rgba(10, 10, 10, 0.733) 0%, rgba(0, 0, 0, 0.733) 25%, rgba(0, 0, 0, 0.733) 75%, rgba(0, 0, 0, 0.733) 100%);
    // --color: white;
    --background: rgb(151, 9, 128);
    --color: white;
}

// ion-item {
//     border: 2px solid rgb(151, 9, 128);
// }
.larger {
    font-size: 28px;
    margin-right: 10px;
}